.header {
    background-color: $black;
    width: 100%;
    z-index: 99;
    height: $header-height;
    transition: height 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;

    @include large {
        height: $header-tablet-height;
    }

    @include mobile {
        height: $header-mobile-height;
    }

    .container {
        height: 100%;
    }

    &.shrink {
        height: $header-shrink-height;
        z-index: 100;

        @include mobile {
            height: $header-mobile-height;
        }
    }

    &_menu {
        @include flex(center, space-between);
        height: 100%;
        font-size: 1.4rem;
        color: $txt-white;
        text-transform: uppercase;

        &_logo {
            @include flex(center, center);
            @include large{
                @include absoluteCenter("top")
            }

            img {
                @include tablet {
                    width: 70%;
                }
                @include mobile {
                    width: 50%;
                }
            }
        }

        &_item {
            margin: 35px;
        }

        &_item.active {
            font-weight: 600;
            color: $red;
        }

        &_left {
            @include flex(center, center);
            height: 100%;

            &_item {
                @include desktop {
                    margin-right: 6rem;
                }

                &_line {
                    width: 1px;
                    height: 23px;
                    background: #ccc8c6;

                    @include desktop {
                        width: 200px;
                        height: 1px;
                    }
                }
            }
        }

        &_left {
            &_close {
                display: none;
                cursor: pointer;
            }

            @include desktop {
                flex-direction: column;
                background-color: $black;
                position: absolute;
                right: 0;
                top: 0;
                width: 300px;
                height: 100vh;
                justify-content: flex-start;
                align-items: flex-end;
                padding-top: 30px;
                transform: translateX(100%);
                transition: transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                &_item {
                    &:nth-child(2) {
                        margin-top: 80px;
                    }
                }

                &_item ~ &_item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &_close {
                    color: $txt-white;
                    display: block;
                    position: absolute;
                    right: 2rem;
                    font-size: 2.5rem;
                }
            }
        }

        &_mobile-tonggle {
            display: none;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;

            @include tablet {
                width: 30px;
                height: 30px;
            }

            &:hover {
                span {
                    &::before {
                        background: #fff;
                    }

                    &:nth-child(2n-1)::before {
                        width: 50%;
                    }
                }
            }

            span {
                display: block;
                width: 100%;
                position: relative;
                transform: rotate(180deg);
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    top: 0;
                    left: 0;
                    transition: all 0.5s;
                }
            }

            @include desktop {
                display: flex;
                font-size: 2.5rem;
            }
        }
    }
}
