.section {
    font-size: 0;
    overflow-x: hidden;

    &_title {
        text-transform: capitalize;
        text-align: center;
        width: 673px;
        font-family: $font;

        @include large {
            width: 100%;
        }

        .title {
            font-size: 50px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: 5px;
            margin-bottom: 50px;

            @include laptop {
                margin-bottom: 40px;
            }

            @include large {
                font-size: 40px;
                margin-bottom: 20px;
            }

            @include tablet-s {
                font-size: 30px;
            }
            @include mobile {
                font-size: 25px;
            }
        }

        .content {
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            letter-spacing: normal;
            word-wrap: break-word;

            @include large {
                font-size: 15px;
            }

            @include mobile {
                font-size: 13px;
            }
        }
    }
    .seeMore {
        cursor: pointer;
        display: inline-block;
        font-family: $font;
        font-size: 23px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        color: $txt-bold-color;
        padding: 21px 36px;
        border: solid 3px #020001;
        transition: all 0.5s;

        @include laptop {
            font-size: 20px;
            padding: 10px 30px;
        }
        @include tablet {
            font-size: 16px;
        }
        @include mobile {
            font-size: 13px;
        }
    }
    .seeMore:hover {
        color: $txt-white;
        background-color: #020001;
    }
    // banner
    .banner {
        width: 100%;

        &_top {
            width: 100%;
            max-height: 1000px;
            padding-top: $header-height;

            @include desktop {
                padding-top: $header-tablet-height;
            }

            @include mobile {
                padding-top: $header-mobile-height;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    // introduction
    .introduction {
        position: relative;

        &_img {
            width: 100%;
        }

        &_section_title {
            @include absoluteCenter("top");

            @include maxWidth(600) {
                @include absoluteCenter("both");
                width: 500px;
            }
            @include mobile {
                width: 300px;
            }
        }
        &_title {
            text-align: left;
            color: #fff;

            @include tablet {
                font-size: 30px;
            }

            @include maxWidth(600) {
                text-align: center;
            }

            @include mobile {
                font-size: 16px;
            }
        }

        &_content {
            text-align: left;
            color: #fff;

            @include maxWidth(600) {
                text-align: center;
            }

            @include tablet {
                font-size: 13px;
            }

            @include mobile {
                font-size: 8px;
            }
        }
    }

    // BestPD
    .BestPD {
        width: 100%;
        background-color: $yelow;
        position: relative;

        &_section_title {
            margin: 0 auto;
            padding: 150px 0 70px 0;
            color: $red;

            @include laptop {
                padding: 100px 0 50px 0;
            }
        }

        .box_square {
            width: 100%;
            position: relative;
            display: flex;
            align-items: flex-start;
            padding-bottom: 197px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: repeating-linear-gradient(0deg, #f96400 0px, #f96400 1px, transparent 1px, transparent 36px),
                    repeating-linear-gradient(90deg, #f96400 0px, #f96400 0px, transparent 1px, transparent 36px);
            }

            &_products {
                width: 100%;

                .slick-slider {
                    z-index: 2;

                    @include tablet {
                        overflow: hidden;
                    }

                    .slick-list {
                        overflow: unset;
                    }
                }

                &_item {
                    width: 100%;
                    position: relative;
                    z-index: 2;

                    .imgage {
                        img {
                            margin: 0 auto;
                        }
                    }

                    .rating {
                        width: 92px;
                        position: absolute;
                        top: 0;
                        transform: translateY(-50%);

                        @include tablet {
                            width: 60px;
                            margin: 0 auto;
                            position: unset;
                            top: unset;
                            transform: translateY(50%);
                        }
                    }

                    .boxGo {
                        width: 369px;
                        display: flex;
                        align-items: center;
                        background-color: $white;
                        border: solid 3px #020001;
                        justify-content: space-between;
                        position: absolute;
                        bottom: 0%;
                        left: 50%;
                        transform: translate(-50%, 50%);
                        margin: 0 auto;

                        @include laptop {
                            width: 300px;
                        }

                        @include tablet {
                            // width: 450px;
                            position: unset;
                            bottom: unset;
                            left: unset;
                            transform: translateY(-50%);
                        }

                        &_text {
                            width: 250px;
                            font-size: 20px;
                            font-weight: 800;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            text-align: left;
                            padding: 15px 0 15px 27px;

                            @include laptop {
                                font-size: 18px;
                            }

                            @include tablet {
                                width: 300px;

                                font-size: 18px;
                            }
                        }
                        &_icon {
                            width: 65px;
                            height: 65px;
                            margin: 0.7rem 1rem;
                            background-color: $txt-main-color;
                            border-radius: 50%;
                            position: relative;

                            @include laptop {
                                width: 47px;
                                height: 45px;
                            }

                            @include laptop {
                                width: 65px;
                                height: 65px;
                            }

                            &::before {
                                content: "Go";
                                font-family: $font;
                                font-size: 20px;
                                font-weight: 800;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.25;
                                letter-spacing: normal;
                                text-align: left;
                                color: $white;
                                @include absoluteCenter("both");

                                @include laptop {
                                    font-size: 16px;
                                }

                                @include large {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .boxProducts {
        text-align: center;
        padding: 142px 0;
    }

    .listProducts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_item {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding-bottom: 70px;

            @include laptop {
                width: 220px;
            }
            @include desktop {
                width: 250px;
            }

            @include maxWidth(900) {
                width: 350px;
            }

            @include tablet {
                width: 300px;
            }

            @include maxWidth(700) {
                width: 255px;
            }

            @include tablet-s {
                width: 250px;
            }

            @include mobile {
                width: 130px;
            }
            &_img {
                width: 100%;
                object-fit: contain;
            }

            .text_item {
                font-family: $font;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.94;
                letter-spacing: normal;
                text-align: left;
            }

            .box_price {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .price {
                    font-family: $font;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.19;
                    letter-spacing: normal;
                    text-align: left;
                }

                .like {
                    @include flex(center, center);
                    img {
                        @include desktop {
                            width: 15px;
                        }
                    }
                    span {
                        font-family: $font;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.19;
                        letter-spacing: normal;
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    .BrandStory {
        padding: 170px 0;
        background-color: $blue;
        position: relative;

        &_section_title {
            @include flex(center, center);
            flex-direction: column;
            width: auto;
            color: $yelow;
            padding-bottom: 77px;
        }

        &_title {
            text-align: center;
        }

        &_content {
            width: 750px;
            text-align: center;
            font-size: 16px;
            font-weight: 300 !important;
            @include tablet {
                width: 100%;
                font-size: 13px;
            }
        }

        &_boxWindow {
            width: 1250px;
            display: flex;
            margin: 0 auto;
            position: relative;
            z-index: 5;
            &_img {
                width: 50%;
                img {
                    width: 100%;
                }
            }

            &_content {
                width: 50%;
                border: 4px solid #020001;
                background-color: $white;
                border-left: none;
                @include flex(center, center);

                &_flexBox {
                    width: 470px;

                    @include laptop {
                        width: 300px;
                    }

                    @include tablet {
                        text-align: center;
                    }
                    h2 {
                        color: $txt-bold-color;
                        font-family: $font;
                        font-size: 25px;
                        font-weight: 800;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.4;
                        letter-spacing: normal;
                        padding-bottom: 39px;

                        @include laptop {
                            font-size: 18px;
                            padding-bottom: 20px;
                            line-height: 1.4;
                        }
                        @include mobile {
                            font-size: 13px;
                            line-height: 1.2;
                        }
                    }

                    p {
                        color: $txt-bold-color;
                        font-size: 16px;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.88;
                        letter-spacing: normal;
                        padding-bottom: 47px;

                        @include laptop {
                            font-size: 13px;
                            line-height: 1.2;
                        }

                        @include mobile {
                            font-size: 11px;
                            line-height: 1.2;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }

        &_position1 {
            position: absolute;
            width: 183px;
            height: 208px;
            top: 183px;
            left: 169px;
        }

        &_position2 {
            position: absolute;
            width: 147px;
            height: 134px;
            top: 61px;
            right: 256px;
        }

        &_position3 {
            position: absolute;
            width: 148px;
            height: 165px;
            top: 114px;
            right: 174px;
        }

        &_position4 {
            position: absolute;
            height: 457px;
            top: 190px;
            right: -107px;
        }

        &_position5 {
            position: absolute;
            width: 350px;
            height: 233px;
            top: 537px;
            right: -20px;
        }
        &_position6 {
            position: absolute;
            width: 180px;
            height: 255px;
            top: 497px;
            left: 0px;
        }

        &_position7 {
            position: absolute;
            width: 192px;
            height: 338px;
            top: 415px;
            left: 190px;
        }

        @include laptop {
            &_boxWindow {
                width: 950px;
            }

            &_position1 {
                position: absolute;
                width: 133px;
                height: 158px;
                top: 260px;
                left: 170px;
            }

            &_position2 {
                position: absolute;
                width: 97px;
                height: 84px;
                top: 61px;
                right: 256px;
            }

            &_position3 {
                position: absolute;
                width: 98px;
                height: 115px;
                top: 114px;
                right: 174px;
            }

            &_position4 {
                position: absolute;
                height: 407px;
                top: 190px;
                right: -107px;
            }

            &_position5 {
                position: absolute;
                width: 300px;
                height: 183px;
                top: 537px;
                right: -20px;
            }
            &_position6 {
                position: absolute;
                width: 142px;
                height: 298px;
                top: 415px;
                left: 0px;
            }

            &_position7 {
                position: absolute;
                width: 130px;
                height: 205px;
                top: 505px;
                left: 140px;
            }
        }

        @include desktop {
            &_boxWindow {
                width: 400px;
                flex-direction: column;
                &_img {
                    width: 100%;
                }

                &_content {
                    width: 100%;
                    padding: 40px;
                    border-top: none;
                    border-left: 4px solid #020001;
                }
            }

            &_position1 {
                left: 120px;
                top: 300px;
            }

            &_position2 {
                right: 100px;
            }

            &_position3 {
                right: 25px;
            }

            &_position4 {
                top: 400px;
            }

            &_position5 {
                top: 695px;
            }
            &_position6 {
                top: 595px;
            }

            &_position7 {
                top: 680px;
            }
        }

        @include tablet {
            &_boxWindow {
                width: 400px;
            }

            &_position1 {
                display: none;
            }

            &_position2 {
                top: 0px;
                right: 130px;
            }

            &_position3 {
                top: 0;
                right: 45px;
            }

            &_position4 {
                position: absolute;
                height: 407px;
                top: 190px;
                right: -107px;
            }

            &_position5 {
                width: 100px;
                height: 80px;
                top: 537px;
                right: 0px;
            }
            &_position6 {
                width: 52px;
                height: 132px;
                top: 500px;
            }

            &_position7 {
                width: 60px;
                height: 120px;
                top: 517px;
                left: 52px;
            }
        }

        @include tablet-s {
            &_boxWindow {
                width: 400px;
            }

            &_position1 {
                left: 30px;
                top: 176px;
            }

            &_position2 {
                top: 0px;
                right: 130px;
            }

            &_position3 {
                top: 0;
                right: 45px;
            }

            &_position4 {
                top: 290px;
            }

            &_position5 {
                top: 637px;
            }
            &_position6 {
                width: 52px;
                height: 132px;
                top: 500px;
            }

            &_position7 {
                width: 60px;
                height: 120px;
                top: 517px;
                left: 52px;
            }
        }

        @include mobile {
            &_boxWindow {
                width: 100%;
            }

            &_position1 {
                position: absolute;
                width: 50px;
                height: 80px;
                top: 300px;
                left: 44px;
            }

            &_position2 {
                display: none;
            }

            &_position3 {
                display: none;
            }

            &_position4 {
                height: 257px;
                top: 331px;
                right: -80px;
            }

            &_position5 {
                display: none;
            }
            &_position6 {
                display: none;
            }

            &_position7 {
                display: none;
            }
        }
    }

    .HappenedsIssue {
        padding: 158px 0;
        background-color: $yelow;
        position: relative;

        &_obj1 {
            position: absolute;
            width: 95px;
            top: 42px;
            right: 70px;

            @include large {
                width: 55px;
            }
        }

        &_obj2 {
            position: absolute;
            top: 163px;
            right: 68px;
            @include large {
                top: 90px;
                width: 55px;
            }
        }

        &_section_title {
            @include flex(center, center);
            flex-direction: column;
            width: auto;
            color: $black-test;
            padding-bottom: 77px;
        }

        &_title {
            text-align: center;
        }

        &_content {
            width: 750px;
            text-align: center;
            font-size: 16px;
            font-weight: 300 !important;
            padding-bottom: 55px;
            @include tablet {
                width: 100%;
                font-size: 13px;
            }
        }

        &_BoxIssue {
            width: 100%;
            margin-top: 128px;

            @include large {
                margin-top: 0;
            }
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            &_itemBox {
                width: 20%;
                display: flex;
                flex-direction: column;
                position: relative;

                .obj3 {
                    position: absolute;
                    bottom: -50px;
                    right: -50px;
                    z-index: 9;

                    @include large {
                        width: 95px;
                    }

                    @include tablet-s {
                        max-width: 48px;
                        bottom: -25px;
                        right: -20px;
                    }

                    @include mobile {
                        width: 40px;
                    }
                }

                .obj4 {
                    position: absolute;
                    top: -30px;
                    left: 26px;

                    @include large {
                        top: -17px;
                        left: 0px;
                        width: 70px;
                    }

                    @include tablet {
                        top: -13px;
                        width: 50px;
                    }
                }

                .obj5 {
                    position: absolute;
                    bottom: -50px;
                    left: -100px;
                    @include large {
                        left: -60px;
                        width: 90px;
                    }

                    @include tablet {
                        left: -50px;
                        width: 70px;
                        bottom: -40px;
                    }
                    @include mobile {
                        left: -25px;
                        width: 50px;
                        bottom: -25px;
                    }
                }
                &.first {
                    span {
                        font-family: $font;
                        font-size: 55px;
                        font-weight: 800;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.04;
                        letter-spacing: normal;
                        color: $black-test;
                        width: 200px;
                        text-align: center;
                        @include large {
                            font-size: 35px;
                        }

                        @include tablet-s {
                            font-size: 33px;
                        }

                        @include mobile {
                            font-size: 18px;
                        }
                    }

                    img {
                        max-width: 148px;

                        @include tablet {
                            max-width: 98px;
                        }
                        @include tablet-s {
                            max-width: 48px;
                        }
                    }
                    background-color: $red;
                    justify-content: space-evenly;
                    align-items: center;
                }

                .title {
                    width: 100%;
                    padding: 27px;
                    display: block;
                    background-color: $black;
                    font-size: 30px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                    text-align: center;
                    color: #fff;

                    @include large {
                        font-size: 20px;
                    }
                    @include tablet {
                        font-size: 13px;
                        padding: 13px;
                    }

                    @include tablet-s {
                        font-size: 10px;
                        padding: 11px;
                    }
                }
            }
        }
    }

    .Video {
        width: 100%;
        padding: 148px 0 300px 0;
        position: relative;

        &_section_title {
            @include flex(center, center);
            flex-direction: column;
            width: auto;
            color: $black-test;
            padding-bottom: 72px;
        }

        &_title {
            text-align: center;
        }

        &_content {
            width: 750px;
            text-align: center;
            font-size: 16px;
            font-weight: 300 !important;
            padding-bottom: 55px;
            @include tablet {
                width: 100%;
                font-size: 13px;
            }
        }

        .Boximage {
            width: 100%;
            text-align: center;
            img {
                max-width: 100%;
            }
        }

        &_position1 {
            position: absolute;
            left: 17%;
            bottom: 0;
            @include laptop {
                bottom: 9%;
                width: 200px;
                left: 12%;
            }
            @include desktop {
                bottom: 11%;
                left: 3%;
            }

            @include tablet {
                bottom: 14%;
            }
        }
        &_position2 {
            position: absolute;
            bottom: 9%;
            right: 20%;

            @include laptop {
                width: 45px;
                bottom: 15%;
                right: 20%;
            }
            @include tablet {
                bottom: 20%;
                right: 3%;
            }
        }
        &_position3 {
            z-index: -1;
            position: absolute;
            left: 14%;
            bottom: 11%;

            @include laptop {
                left: 8%;
                bottom: 15%;
                width: 100px;
            }

            @include desktop {
                left: -3%;
                bottom: 15%;
                width: 100px;
            }

            @include tablet {
                left: -3%;
                bottom: 22%;
                width: 70px;
            }
        }
        &_position4 {
            position: absolute;
            top: 22%;
            left: -16%;
            z-index: -1;

            @include laptop {
                left: -24%;
            }

            @include large {
                display: none;
            }
        }
        &_position5 {
            position: absolute;
            top: 0;

            @include large {
                width: 100px;
            }

            @include tablet {
                width: 70px;
            }
        }
        &_position6 {
            position: absolute;
            top: 270px;
            right: 244px;

            @include laptop {
                width: 85px;
                top: 120px;
                right: 229px;
                z-index: 1;
            }

            @include large {
                display: none;
            }
        }
        &_position7 {
            position: absolute;
            top: 168px;
            right: 150px;

            @include laptop {
                width: 100px;
                top: 50px;
            }

            @include large {
                display: none;
            }
        }
        &_position8 {
            position: absolute;
            top: 55%;
            right: -10%;
            z-index: -1;

            @include laptop {
                right: -21%;
                z-index: -1;
            }

            @include large {
                display: none;
            }
        }
        &_position9 {
            position: absolute;
            top: 41%;
            z-index: -2;
            right: -167px;

            @include large {
                display: none;
            }
        }
    }

    footer {
        padding-top: 49px;
        display: flex;
        flex-direction: column;

        .content_footer {
            display: flex;
            justify-content: space-between;
            &_title {
                font-family: $font;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.14;
                letter-spacing: normal;
                text-align: left;
                color: $txt-main-color;
            }

            &_text {
                font-family: $font;
                font-size: 14px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.14;
                letter-spacing: normal;
                text-align: left;
                color: $txt-main-color;
            }
            &_boxLeft{
                text-align: left;

                .content_footer_title{
                    text-align: left;
                }
            }

            &_boxLink{
                display: flex;
                &_link{
                    padding-left: 100px;
                    text-align: center;
                }
            }
        }

        .infor_footer {
            padding-bottom: 130px;
        }
    }
}
